/*TOC
    - Global
    - Page Structure
    - Typography
*/

/*------------------------>>> GLOBAL <<<------------------------*/

html, body {
  font-family: 'Jura', sans-serif;
  height: 100%;
  margin: auto;
  width: 60%;
}


/*-------------------->>> PAGE STRUCTURE <<<--------------------*/

.calculatorbody {
  position: absolute;
  margin: 0 auto;
  margin-top: 10px;
  width: 400px;
}

.box {
  height: 300px;
  margin-left: 67px;
  position: absolute;
  top: 222px;
  width: 250px;
} 

.display {
  background-color: #330000;
  height: 40px;
  left: 4%;
  position: relative;
  width: 250px;
}

.display input {
  background-color: #330000;
  color: red;
  font-family: 'Jura', sans-serif;
  font-size: 22px;
  height: 35px;
  opacity: 0.7;
  position: relative;
  text-align: right;
  width: 245px;
} 

.keys {
  position: relative;
  top: 54px;
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  color: Transparent;
  cursor: pointer;
  height: 25px;
  margin-left: 23px;
  overflow: hidden;
  width: 35px;
}


/*--------------------->>> TYPOGRAPHY <<<-----------------------*/

p { line-height:54px; }


